.nav-tabs>li.active.tab-attach>a,
.nav-tabs>li.active.tab-attach>a:focus,
.nav-tabs>li.active.tab-attach>a:hover {
    background: white;
}

.tab-content .alpha a {
    padding: 0 5px;
    display: inline-block;
    border-bottom: 0 !important;
}

.tab-content .panel-attached {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}

.definition-wrapper {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    position: relative;
}

.definition-wrapper .date {
    color: gray;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
}

.form-horizontal .facetwp-type-alpha,
.form-horizontal .facetwp-facet {
    margin-bottom: 0;
}

.form-horizontal .facetwp-sort-select,
.form-horizontal .facetwp-dropdown,
.form-horizontal .facetwp-search {
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.6;
    color: #575757;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-horizontal .facetwp-btn {
    right: 10px;
}

.form-inline .facetwp-loading {
    margin-top: 10px;
}

.results-meta:after,
.results-meta:before {
    content: ' ';
    display: table;
    clear: both;
}

.results-meta > * {
    float: left;
    width: 50%;
}

.results-count {
    font-size: 80%;
    text-align: right;
    padding-bottom: 15px;
}

.facetwp-counts {
    display: inline;
}

.definition-wrapper h2{
    font-size: 28px;
}

.definition-wrapper h3{
    font-size: 20px;
}

.definition-wrapper h4{
    font-size: 16px;
}
.fwp-single-entry a{
    font-size: 15px;
    border-bottom: 0;
}
.definition-wrapper .post-edit-link {
    font-size: 80%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 3px;
    background: #000;
    padding: 0 8px 0 7px;
    height: 32px;
    display: block;
    font: 400 13px/32px "Open Sans", sans-serif;
    margin: 0;
    z-index: 250;
    color: white;
    border: 0 !important;
}

.definition-wrapper .post-edit-link:before {
    content: "\f464";
    top: 2px;
    font: 400 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    float: left;
    padding: 4px 0;
    margin-right: 6px;
}

.definition-wrapper .post-edit-link:hover,
.definition-wrapper .post-edit-link:focus {
    background: #32373c !important;
    color: #00b9eb !important;
}

.definition {
    cursor: pointer;
    font-weight: 500;
    color: #8c1d40;
}

.definition:hover {
    background: #f5f5f5;
}

.facetwp-pager {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    margin: 0 0 15px;
}
.facetwp-pager .facetwp-page,
.facetwp-pager .facetwp-pager-label{
    margin-right: 0;
    float: none;
}

.facetwp-pager a,
.facetwp-pager span {
    position: relative;
    float: left;
    padding: 6px 19px;
    line-height: 1.44;
    text-decoration: none;
    border: 1px solid #dddddd !important;
    margin-left: -1px;
}

.facetwp-pager > a:first-child,
.facetwp-pager > span:first-child {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.facetwp-pager > a:last-child,
.facetwp-pager > span:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.facetwp-pager a:hover,
.facetwp-pager a:focus{
    color: #d23153;
    background-color: #eeeeee;
    border-color: #dddddd;
}

.facetwp-pager > a.active
.facetwp-pager > a.active:hover,
.facetwp-pager > a.active:focus{
    z-index: 2;
    color: white;
    background-color: #a30046;
    border-color: #a30046;
    cursor: default;
}